# --- OS & IDE ---
.DS_Store
.idea/
.vscode/
.fleet/
.zed/
*.swp
Thumbs.db

# --- Database & Docker Data ---
elasticsearch_data/
docker/postgres/data/
docker/redis/data/
*.rdb
*.log

# --- Backend (Laravel) ---
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/storage/pail/*
backend/storage/*.key
backend/public/storage
backend/public/build
backend/public/hot

# --- Frontend (Vue) ---
frontend/node_modules/
frontend/dist/
frontend/.env

# --- Root Garbage ---
/vendor/
/node_modules/
auth.json
Homestead.json
Homestead.yaml
_ide_helper.php
.phpunit.result.cache
.env

coverage/backend/frankenphp
backend/frankenphp
